

body {
    font-family: Arial, sans-serif;
    color: white;
    background: url(test1.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

.links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  text-align: right;
  color: white;
  font-size: x-large;
}
 

.me {
  position: fixed;
  top: 50px;
  right: 0;
  padding: 20px;
  text-align: right;
}

header {
  padding: 40px;
  font-size: 24px;
}

main {
  padding: 40px;
  max-width: 700px;
  margin: none;
  text-align: left;
}
.aboutme {
  padding: 40px;
  max-width: 500px;
}

.woodworking {
  position: fixed;
  top: 50px;
  right: 0;
  padding: 20px;
  text-align: right;
}

.websitebuild {
  position: fixed;
  top: 250px;
  right: 0;
  padding: 350px;
  text-align: center;
}
p {
  font-size: 1.2em; /* 14px/16=0.875em */
}

